html {
    background-image:url('../image/backgroundImage.jpg');
    background-repeat:repeat;
    background-size:contain;


}

body{
    background-image:url('../image/woodentexures.jpg');
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 1100px;
    height: 1200px;
}

/* header */

#header{
    width:1100px;
    height:140px;
    padding-bottom: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top:80px;*/
    padding:0px;
    background-color: rgb(143, 36, 0);
}

/* logo */
div.logoDiv {
    float:left;
    margin:0px;
    padding:0px;
    clear:left;
    width:400px;
    height:140px;
}

img.logo{
    float:left;
    margin:0px;
    padding:0px;
    clear:left;
    width:400px;
    height:140px;
}

/* search */

div.searchRightDiv {
    float:right;
    margin:0px;
    padding:0px;
    clear:right;
    width:700px;
    height:140px;
}

/* singIN */

a.signInLink {
    float:right;
    margin-top: 61px;
    margin-right: 25px;
    color: #FFE4B5;
}

div.signInModal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(128,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity;
    -moz-transition: opacity;
    transition: opacity ;
    pointer-events: none;
}

div.signInModal:target {
    opacity:1;
    pointer-events: auto;
}

div.signInModal > div {
    width: 425px;
    text-align: center;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background:
        -moz-linear-gradient(#fff, #999);
    background:
        -webkit-linear-gradient(#fff, #999);
    background:
        -o-linear-gradient(#fff, #999);
}

fieldset#signInFieldset {
    border-radius: 10px;
    width: 395px;
}

input.signInTextBox {
    text-align: center;
    border-radius: 4px;
}

input.signInButton {
    width: 80px;
    border-radius: 4px;
}

div#divUsername, div#divPassword, div#divSignIn {
    margin-top: 10px;
}

a.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

a.close:hover {
    background: #040000;
}

input.searchText {
    float:left;
    margin-top: 55px;
    margin-left: 25px;

    padding: 5px 9px;
    height: 20px;
    width: 250px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
.cartTop{
    padding-top: 60px;
    padding-left: 180px;
}
#cartClick {
    display: none;
}
#test {
    position: relative;
    z-index: 2;
}

#cartClick:target {
    display: block;
    float: right;
}
.checkTable{
    display: block;
    color: white;
    float:right;
    padding: 30px;
}
table.checkTable{
    background-color: rgb(143, 36, 0);
}
.checkbutton{
    color: white;
    background-color:inherit;
    border-width: 1px;
    border-color: white;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    font-size: small;
}
img.cartTop{
    width: 20px;
    height: 20px;
}

input.searchButton {
    float:left;
    margin-top: 55px;
    background-color: #FFDEAD;
    background-image: linear-gradient(#FFDEAD,#FFE4B5 );
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFDEAD #FFE4B5;
    height: 34px;
    margin-left: 3px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: 14px bold;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;

}

div.signInDiv {
    float: left;
    width:300px;
    height:140px;
}

div.searchDiv {
    float:right;
    width: 400px;
    height: 140px;
}

/* nav style */

#siteNavBar{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color: white;
}


nav.siteNavBar{
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color: white;
}
.siteNavBar ul {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

.siteNavBar ul li {
    font: bold 12px/18px sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    padding : 15px 35px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.siteNavBar ul li a {
    text-decoration: none;
    color: #000;
}

.siteNavBar ul li:hover, .siteNavBar ul li a:hover {
    background: #555;
    color: #fff;
    z-index: 4;
}
.siteNavBar ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 240px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.siteNavBar ul li ul li a {
    color: #fff;
}

.siteNavBar ul li ul li {
    background: #555;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
.siteNavBar ul li ul li:hover, .siteNavBar ul li ul li:hover { background: #666; }
.siteNavBar ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}


/* image section */
#section {
    position: absolute;
    width: 640px;
    height: 320px;
}

div .box{
    position: absolute;
    margin-left: 250px;
    margin-top: 70px;
    width: 640px;
    height: 320px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.box.black { background-color:black;}
.box.red { background-color:red;}
.box.yellow { background-color:yellow;}
.box.orange { background-color:orange;}
.box.purple { background-color:purple;}

.black:checked ~ .boxes > .black,
.red:checked ~ .boxes > .red,
.yellow:checked ~ .boxes > .yellow,
.orange:checked ~ .boxes > .orange,
.purple:checked ~ .boxes > .purple{
    opacity : 1
}


input#slide_1{
    position: absolute;
    top: 400px;
    left: 550px;
    padding: 0px;
    margin: 0px;
}


input#slide_2{
    position: absolute;
    top: 400px;
    left: 570px;
    padding: 0px;
    margin: 0px;
}

input#slide_3{
    position: absolute;
    top: 400px;
    left: 590px;
    padding: 0px;
    margin: 0px;
}

input#slide_4{
    top: 400px;
    left: 610px;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

input#slide_5{
    position: relative;
    top: 400px;
    left: 640px;
    padding: 0px;
    margin: 0px;
}



/* footer*/

#siteFooter {
    width:1100px;
    display: block;
    margin-top: 970px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(143, 36, 0);
    text-align: center;
    color:#FFE4B5;
}

#siteFooter > p {

    padding-top: 17px;
    padding-bottom:10px;
    margin: 0px;
}
#siteFoote,img {
    width: 30px;
    height: 30px;
}
#siteFooter > p > a{
    margin: 0px;
    color:#FFE4B5;
}

/* aside left content */
aside {
    float:left;
    width:25%;
    padding:25px;
    margin-top:30px;
    margin-left:30px;
    background-color:#FFFFFF;
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:#333333;

}

aside p {
    font-size:medium;

}

/* Section right content */

section {
    float:left;
    width:55%;
    margin: 30px;
    padding: 0px 30px 30px 30px;
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    color:#333333;
    background-color:#FFFFFF;
}

section h1{
    font-size:xx-large;
    font-weight:normal;
}
section img{
    height: 70%;
}

/* PMP Style */

.pmp tbody tr td {
    text-align:center;
    background-color:#EDECEC;
    padding: 10px;
}

.pmpProductBox img {
    width: 75%;

}

.pmpProductBox p, .pmpProductBox h4 {
    margin: 0 0 5px 0;
}

.pmpProductBox button {
    color: white;
    background-color: brown;
    border-width: 1px;
    border-color: #333333;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    font-size: small;
}
.pmpProductBox button:hover {
    background-color:#92320C;
}
.pmpProductBox button:active {
    background-color:#C22D05;
}

.error {color: #FF0000;}
#signUpDiv{
    margin-top: 50px;
    margin-left: 180px;
    padding-top: 80px;
    padding-left: 80px;
}
#signUpFieldSet{
  width: 550px;
  height: 300px;
  background-color:#FFDEAD;  
  border-style: ridge;
  border: 8px solid rgb(143, 36, 0);
  border-radius: 5px;
}
.signUpButton{
    border-radius: 8px;
    border-color: rgb(143, 36, 0); 
    border-style: ridge;
    background-color: rgb(143, 36, 0);
    color: white;
}