/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 17, 2015, 8:31:10 PM
    Author     : Rachna Gajre <rgajre@scu.edu>
*/

/* a set of styles applied to respective tags*/
html {
  background-image:url('../images/backgroundImage.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

body{

}


/* a set of styles applied to paticular element on the page*/
#demo{

}


/*a set of styles applied to particular element on the page that have a given class name*/
.demo1{
}


/*a set of styles applied to particular tag on the specified class name */
img.pagetexture{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 20px;
width: 1100px;
height: 940px;
}

#header{
  width:1100px;
  height:140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  padding:0px;
  background-color: rgb(143, 36, 0);
}
img.logo{
  float:left;
  margin:0px;
  padding:0px;
  clear:left;
  width:400px;
  height:140px;
}

/* nav style */
ul {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}